body{
  background-color:white;
  color: black;
  font-family: arial;

}


h1{padding-top:40px;}


/* nav bar */
nav {
padding: 20px 80px

}

/* Box */
.box {
  background-color: black;
  color: white;
  width: 1000px;
  border: 15px grey;
  padding: 50px;
  margin: 20px;
}

/* Pick of the week boxes */
.pickbox {
  background-color: black;
  color: white;
  width: 500px;
  border: 5px grey;
  padding: 5px;
  margin: 1px;
}




/* Right position */
.right {
  position: absolute;
  right: 0px;
}


/* Contact Form */
form {
  border: 4px solid #f1f1f1;
}

.container {
  padding: 20px;
  background-color: #f1f1f1;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

.container-fluid{
  padding-left:0px;
  padding-right:0px;
}

#main-content {
  background-color: white;
}

.padding-left-50{
  padding-left:50px;
}


.nav-li-format-l {
  text-align: left;

}
.nav-li-format-r {
  text-align: right;

}
